# pipenv
Pipfile*

# Output and test files
/shavar_list_creation.ini
prod.ini
stage.ini
*.log
*-digest256

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# coverage files
.coverage
.venv/
webkit-lists/