version: 2.1
jobs:
  build:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          name: Install dependencies in virtual environment
          command: |
            virtualenv ~/venv
            source ~/venv/bin/activate
            pip install -r requirements-test.txt
            pip install coverage-badge
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - "~/venv"
      - run:
          name: Run unit tests
          command: |
            source ~/venv/bin/activate
            cp sample_shavar_list_creation.ini shavar_list_creation.ini
            mkdir test-results
            python -m pytest -v --junitxml=test-results/junit.xml --cov=. \
            --cov-report=term --cov-report=html --cov-branch
            coverage-badge -o coverage.svg
      - store_test_results:
              path: test-results
      - store_artifacts:
              path: htmlcov
      - store_artifacts:
              path: coverage.svg
